body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .home {
  flex-grow: 1;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.about {
  margin-left: auto;
}

.content {
  FONT-WEIGHT: 200;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 10% 20px 10%;
}

article {
  width: calc(33% - 20px); /* 25% width with 20px margin between cards */
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.info {
  padding: 10px;
}

.date {
  font-size: 0.8em;
  color: #777;
}

.short-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}

.read-more {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #3498db;
  text-decoration: none;
}

@media screen and (max-width: 1300px) {
  article {
    width: calc(50% - 20px); /* One card per row on phones */
  }
}

@media screen and (max-width: 700px) {
  article {
    width: calc(100% - 20px); /* One card per row on phones */
  }
}