<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="base.css" />
    <title>Oscar's Blog</title>
  </head>

  <body>
    <header>
      <nav>
        <ul class ="leanright">
          <li><a href="./index.html">Home</a></li>
          <li><a href="./pages.html">Pages</a></li>
          <li><a href="./about.html">About</a></li>
        </ul>
      </nav>
    </header>

    <section class="content">
      <article>
        <img src="image1.jpg" alt="Photo 1" />
        <div class="info">
          <span class="date">January 1, 2024</span>
          <p class="short-text">
            Today I visited Asakusa, which is a well known tourist site in the
            west...
          </p>
          <a href="article1.html" class="read-more">More</a>
        </div>
      </article>

      <article>
        <img src="image2.jpg" alt="Photo 2" />
        <div class="info">
          <span class="date">January 2, 2024</span>
          <p class="short-text">
            Today I visited Asakusa, which is a well known tourist site in the
            west...
          </p>
          <a href="article2.html" class="read-more">More</a>
        </div>
      </article>

      <article>
        <img src="image3.jpg" alt="Photo 3" />
        <div class="info">
          <span class="date">January 3, 2024</span>
          <p class="short-text">
            Today I visited Asakusa, which is a well known tourist site in the
            west...          </p>
          <a href="article3.html" class="read-more">More</a>
        </div>
      </article>

      <article>
        <img src="image4.jpg" alt="Photo 4" />
        <div class="info">
          <span class="date">January 4, 2024</span>
          <p class="short-text">
            Today I visited Asakusa, which is a well known tourist site in the
            west...          </p>
          <a href="article4.html" class="read-more">More</a>
        </div>
      </article>
      <article>
        <div class="info">
          <img src="image4.jpg" alt="Photo 4" />
          <span class="date">January 5, 2024</span>
          <p class="short-text">
            Today I visited Asakusa, which is a well known tourist site in the
            west...
          </p>
          <a href="article4.html" class="read-more">More</a>
        </div>
      </article>
    </section>
  </section>
  </body>
</html>
